body {
    display: flex;
    height: 100vh;
  }
  
  .mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
    background-color: red;
  }
  
  .main-content {
    overflow: auto;
    height: 100%;
    background-color: red;

  }
  
  .app-bar {
    position: absolute;
    background-color: red;

  }
  
  // Only apply this style if below top app bar.
  .mdc-top-app-bar {
    z-index: 7;
    background-color: red;

  }